$darkColor: #273a31;
$orangeColor: #ec5242;
$greyColor: #d3d3d3;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

.mob-nav-bar {
  display: flex;
  background-color: $greyColor;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
}
.h-desktop {
  display: none;
}

.menu-visible {
  display: block;
  position: fixed;
  height: 50%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #e5e5e5;
}

#close-btn {
  color: #67798e;
  position: absolute;
  right: 38px;
  top: 30px;
}

.menu-visible .nav-element {
  background-color: #fff;
  padding: 92px 12px;
  border-bottom: 1px solid #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  min-height: 479px;
}

.menu-visible ul li {
  margin-bottom: 40px;
}

.menu-visible ul li a {
  text-decoration: none;
  color: $darkColor;
}

.intro {
  background-color: $greyColor;
  padding: 20px;
}
.intro-content {
  h1 {
    font-weight: 300;
    color: $orangeColor;
  }
  .intro-title {
    color: $orangeColor;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
  }
  .intro-desc {
    width: 100%;
    color: #000;
    background: #e6e6e6;
    border: 1px solid #fff;
    padding: 10px;
    margin: 20px 0;
  }
  .intro-date {
    color: #5f5f5f;
    font-size: 30px;
    font-weight: bold;
  }
  .intro-location {
    color: #5f5d5d;
  }
}
.program {
  background-image: url("../images/bck2.jpg");
  .program-title {
    margin-bottom: 5rem;
    h1 {
      color: white;
      padding-top: 3rem;
      text-align: center;
    }
    .program-line {
      display: block;
      align-items: center;
      width: 20%;
      border: 1px solid #db3d13;
      margin: auto;
    }
  }
  .program-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {
      width: 85%;
      display: grid;
      background-color: rgba(175, 171, 171, 0.3);
      grid-template-columns: 50% 50%;
      margin: 10px 0;
      padding: 5px 10px;
      span {
        color: $greyColor;
      }
    }
    .card-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      i {
        color: $greyColor;
      }
      h2 {
        font-size: 15px;
        color: $orangeColor;
        margin: 0;
        padding-left: 20px;
      }
    }
  }
  .program-apply {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    button {
      color: $greyColor;
      background: $orangeColor;
      margin-bottom: 34px;
      padding: 20px;
      border: $orangeColor;
    }
  }
}
.speaker {
  .speaker-title {
    margin-bottom: 5rem;
    h1 {
      color: black;
      padding-top: 3rem;
      text-align: center;
    }
    .speaker-line {
      display: block;
      align-items: center;
      width: 20%;
      border: 1px solid #db3d13;
      margin: auto;
    }
  }
  .speaker-class {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: flex-start;
  }
  .speaker-card {
    display: grid;
    .speaker-content {
      display: flex;
      width: 90%;
      gap: 10px;
      padding: 20px;
      .speaker-desc {
        h4 {
          font-size: 20px;
        }
        h5 {
          color: #ec5242;
        }
        hr {
          margin-right: 20px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}
.partner {
  background-color: #3b3b3b;
  padding: 50px 0;
  color: #fff;
  text-align: center;
  .partner-title {
    margin-bottom: 2rem;
    h1 {
      color: black;
      text-align: center;
    }
    .partner-line {
      display: block;
      align-items: center;
      width: 20%;
      border: 1px solid #db3d13;
      margin: auto;
    }
  }
  .partner-company {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.footer {
  display: flex;
  font-size: 12px;
  justify-content: center;
  padding: 20px;
}
.header,
.nav-header {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mob-nav-bar {
    display: none;
  }
  .nav-header {
    background: #272a31;
    color: #fff;
    display: flex;
    padding-top: 10px;
    padding-right: 230px;
    font-family: sans-serif;
    justify-content: flex-end;
    .nav-icons {
      margin-right: 30px;
    }
    .nav-header-list li {
      align-content: center;
      float: left;
      margin: 0 10px;
      list-style: none;
    }
  }
  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 1px 1px #dbdbdb;
    font-family: sans-serif;
    .logo {
      height: 50px;
      width: 50px;
    }
    .nav-header-list {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .nav-header-list li {
      margin: 0 10px;
      list-style: none;
    }
    .nav-header-list li a {
      color: #000;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
    }
    .nav-header-list li a:hover {
      cursor: pointer;
      color: #ec5242;
    }

    .nav-header-list li a:hover:active {
      cursor: pointer;
      color: #ec5242;
    }
    .btn-header {
      color: #ec5242;
      margin-top: 1rem;
      background-color: #fff;
      padding: 5px;
      border: 5px solid #ec5242;
    }
  }
  .intro {
    padding: 81px;
    .intro-content {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 50px;
        font-family: sans-serif;
        font-weight: bold;
      }
      .intro-desc {
        width: 50%;
      }
    }
  }
  .program {
    .program-card {
      justify-content: center;
      margin: 50px 70px;
      gap: 2rem;
      flex-direction: row;
      .card {
        display: flex;
        flex-direction: column;
        padding: 3rem;

        .card-title {
          display: flex;
          gap: 10px;
          flex-direction: column;
          font-size: 25px;
        }
        span {
          text-align: center;
        }
      }
    }
  }
  .speaker {
    .speaker-class {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
