body {
  font-family: "Lato", sans-serif;
}

.mob-nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d3d3d3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
}

.h-desktop {
  display: none;
}

.menu-visible {
  display: block;
  position: fixed;
  height: 50%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #e5e5e5;
}

#close-btn {
  color: #67798e;
  position: absolute;
  right: 38px;
  top: 30px;
}

.menu-visible .nav-element {
  background-color: #fff;
  padding: 92px 12px;
  border-bottom: 1px solid #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  min-height: 479px;
}

.menu-visible ul li {
  margin-bottom: 40px;
}

.menu-visible ul li a {
  text-decoration: none;
  color: #273a31;
}

.intro {
  background-color: #d3d3d3;
  padding: 20px;
}

.intro-content h1 {
  font-weight: 300;
  color: #ec5242;
}

.intro-content .intro-title {
  color: transparent;
  font-family: "COCOGOOSE", sans-serif;
  font-size: calc(1.7rem + 1.5vw);
  background: linear-gradient(165deg, #fcaf21 20%, #f02800 50%, #f88020 75%, #f76050 99%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
}

.intro-content .intro-desc {
  width: 100%;
  color: #000;
  background: #e6e6e6;
  border: 1px solid #fff;
  padding: 10px;
  margin: 20px 0;
}

.intro-content .intro-date {
  color: #5f5f5f;
  font-size: 20px;
  font-weight: bold;
}

.intro-content .intro-location {
  color: #5f5d5d;
}

.speaker .speaker-title {
  margin-bottom: 5rem;
}

.speaker .speaker-title h2 {
  color: black;
  padding-top: 3rem;
  text-align: center;
}

.speaker .speaker-title .speaker-line {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  border: 1px solid #db3d13;
  margin: auto;
}

.speaker .speaker-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.speaker .speaker-card {
  display: -ms-grid;
  display: grid;
}

.speaker .speaker-card .speaker-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  gap: 10px;
  padding: 20px;
}

.speaker .speaker-card .speaker-content .speaker-desc h4 {
  font-size: 20px;
}

.speaker .speaker-card .speaker-content .speaker-desc h5 {
  color: #ec5242;
}

.speaker .speaker-card .speaker-content .speaker-desc hr {
  margin-right: 20px;
}

.speaker .speaker-card .speaker-content .speaker-desc p {
  font-size: 15px;
}

.partner {
  background-color: #3b3b3b;
  padding: 50px 0;
  color: #fff;
  text-align: center;
}

.partner .partner-title {
  margin-bottom: 2rem;
}

.partner .partner-title h2 {
  color: black;
  text-align: center;
}

.partner .partner-title .partner-line {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  border: 1px solid #db3d13;
  margin: auto;
}

.partner .partner-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner .partner-company .google {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  background: -webkit-linear-gradient(#eee, #747171);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.partner .partner-company .mozilla {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #a19f9f;
}

.partner .partner-company .Naver {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #a19f9f;
  font-weight: bolder;
}

.partner .partner-company .microverse {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: #a19f9f;
  font-style: italic !important;
}

.program {
  background-image: url("../images/bck2.jpg");
}

.program .program-title {
  margin-bottom: 5rem;
}

.program .program-title h2 {
  color: white;
  padding-top: 3rem;
  text-align: center;
}

.program .program-title .program-line {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  border: 1px solid #db3d13;
  margin: auto;
}

.program .program-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program .program-card .card {
  width: 85%;
  display: -ms-grid;
  display: grid;
  background-color: rgba(175, 171, 171, 0.3);
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin: 10px 0;
  padding: 5px 10px;
}

.program .program-card .card span {
  color: #d3d3d3;
}

.program .program-card .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program .program-card .card-title i {
  color: #d3d3d3;
}

.program .program-card .card-title h2 {
  font-size: 15px;
  color: #ec5242;
  margin: 0;
  padding-left: 20px;
}

.program .program-apply {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.program .program-apply button {
  color: #d3d3d3;
  background: #ec5242;
  margin-bottom: 34px;
  padding: 20px;
  border: #ec5242;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  gap: 12px;
  background: black;
}

.footer .footer-logo img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 40px;
  width: 40px;
  max-width: 266px;
}

.footer .footer-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header,
.nav-header {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mob-nav-bar {
    display: none;
  }
  .nav-header {
    background: #272a31;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-right: 230px;
    font-family: sans-serif;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-header .nav-icons {
    margin-right: 30px;
  }
  .nav-header .nav-header-list li {
    -ms-flex-line-pack: center;
        align-content: center;
    float: left;
    margin: 0 10px;
    list-style: none;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #e3e3e3;
    -webkit-box-shadow: 1px 1px #dbdbdb;
            box-shadow: 1px 1px #dbdbdb;
    font-family: sans-serif;
  }
  .header .logo {
    height: 50px;
    width: 50px;
  }
  .header .nav-header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav-header-list li {
    margin: 0 10px;
    list-style: none;
  }
  .header .nav-header-list li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }
  .header .nav-header-list li a:hover {
    cursor: pointer;
    color: #ec5242;
  }
  .header .nav-header-list li a:hover:active {
    cursor: pointer;
    color: #ec5242;
  }
  .header .btn-header {
    color: #ec5242;
    margin-top: 1rem;
    background-color: #fff;
    padding: 5px;
    border: 5px solid #ec5242;
  }
  .intro {
    padding: 81px;
  }
  .intro .intro-content h1 {
    font-size: 30px;
  }
  .intro .intro-content p {
    font-size: 50px;
    font-family: "COCOGOOSE", sans-serif;
    font-weight: bold;
  }
  .intro .intro-content .intro-desc {
    width: 50%;
  }
  .intro .intro-content .intro-date {
    font-size: 30px;
  }
  .program .program-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px 70px;
    gap: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .program .program-card .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem;
  }
  .program .program-card .card .card-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 25px;
  }
  .program .program-card .card span {
    text-align: center;
  }
  .speaker .speaker-class {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */